@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body{
  background-color: rgb(0, 0, 0);
}
/* navbar start */
.navbar{
  background-color: rgb(0, 0, 0) !important;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 99999;
}
.navbar-brand{
  display: flex;
  align-items: center;
  color: white !important;
  font-weight: bold;
  font-size: 25px;
}
.nav-link{
  color: white !important;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.3s;
}
.nav-link:hover{
  /* background-color: #323232; */
  background-color: #00a2ff;
  transition: all 0.3s;
}
.nav-Ul{
  display: flex;
  gap: 40px;
}
.nav-Ul .nav-item{
  font-size: 18px;
}
/* navbar end */
/* navbar button start */
.navbtns-container{
  background-color: #000000;
  padding: 17px;
  border-bottom: 2px solid #00a2ff;
  border-top: 2px solid #00a2ff;
  position: sticky;
  top: 14.8%;
  z-index: 99999;
}
.nav-btnsDiv{
  display: flex;
  justify-content: space-between;
}
.nav-btn{
   background-color: black;
   color: white;
   border: 2px solid #00a2ff;
   border-radius: 10px;
   padding: 11px;
   transition: all 0.5s;
}
.nav-btn:hover{
  color:  #12d8fb;
  box-shadow: 0px 0px 9px #00d9ff;
  border: 2px solid #00d9ff;
  transition: all 0.5s;
}
/* navbar button end */
/* animated Section start */
#animateSecDiv img{
  width: 100%;
  height: 68vh;
  opacity: 0.8;
}
.animateSecText{
  position: absolute;
  top: 34%;
  left:25%;
}
.text{
  color: white;
  padding-top: 120px;
}
#description{
  color: white;
  text-align: center;
  padding: 10px auto 10px auto;
}
h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
h1 span {
  color: #ffffff;
  position: relative;
}
h1 span::before {
  content: "";
  height: 30px;
  width: 2px;
  position: absolute;
  top: 50%;
  right: -8px;
  background: #BD53ED;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}
h1 span.stop-blinking::before {
  animation: none;
}
@keyframes blink {
  50% { opacity: 0 }
}
#typeEffect{
  color: #dddbce;
  text-align: left;
}
.Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "Alpha Coders";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}
/* animated Section end */

/* our services styling start */

/* our services styling end */