@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/* navbar start*/
.navbar {
  background-color: rgb(0, 0, 0) !important;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 99999;
  border-bottom: 2px solid #00a2ff;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: white !important;
  font-weight: bold;
  font-size: 25px;
}

.nav-link {
  color: white !important;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.3s;
}

.nav-link:hover {
  background-color: #00a2ff;
  transition: all 0.3s;
}

.nav-Ul {
  display: flex;
  gap: 40px;
}

.nav-Ul .nav-item {
  font-size: 18px;
}

.navbar-toggler {
  color: #00a2ff;
  background-color: #ffffff;
}

/* navbar end*/
/* button navbar start */
.navbtns-container {
  background-color: #000000;
  padding: 12px;
  border-bottom: 2px solid #00a2ff;
}

.nav-btnsDiv {
  /*   yaha me yani hasnain ne imporatant lagaya ur 
      scroll lagaya lekin koi banda isko sahi kare k size chota na hu buttons ka */
  display: flex !important;
  overflow-x: scroll !important;
  scrollbar-width: none;
  flex-wrap: nowrap !important;
  justify-content: space-between !important;
  gap: 10px;

}

.nav-btn {
  background-color: black;
  color: white;
  border: 2px solid #00a2ff;
  border-radius: 10px;
  padding: 7px;
  transition: all 0.5s;
  font-size: 17px;
}

.nav-btn:hover {
  color: #12d8fb;
  box-shadow: 0px 0px 9px #00d9ff;
  border: 2px solid #00d9ff;
  transition: all 0.5s;
}

/* button navbar end */
#animateSecDiv {
  background-image: url('../images/animationimg2.jpg') !important;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 85vh;
  position: relative;
}

.animateSecTextDiv {
  position: absolute;
  top: 35%;
  left: 20%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.text {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

h2 span {
  color: #00d9ff;
  position: relative;
  font-size: 35px;
}

h2 span::before {
  content: "";
  height: 30px;
  width: 2px;
  position: absolute;
  top: 50%;
  right: -8px;
  background: #00d9ff;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}

h2 span.stop-blinking::before {
  animation: none;
}

@keyframes blink {
  50% {
    opacity: 0
  }
}

#description {
  color: white;
  text-align: center;
  font-size: 20px;
}

/* animated Section end */

/* our services styling start */

.card-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #00a2ff;
  color: white;
  margin: 10px;
  width: 400px;
  height: 320px;
  box-shadow: 2px 2px 10px #00d9ff;
  margin-left: 13px !important;
}

.cards:hover {
  transform: scale(0.9);
}

.para {
  text-align: justify;
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
}

.title {
  margin-top: 20px;
  font-size: 27px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.icon i {
  font-size: 27px !important;
}

/* our services styling end */




/* why to choose us styling start  */


details {
  color: #00a2ff;
  font-size: 25px;
  padding-top: 40px;
}

.choose-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.choose {
  border: 1px solid white;
  box-shadow: 4px 4px 15px #00a2ff;
}

.choose p {
  color: white;
  margin-top: 20px;
  margin-bottom: 29px;
}

.choose ul {
  color: white;
}















/* why to choose us styling end  */





















/* Tablets Responsiveness Start */
@media(max-width:1115px) {
  .nav-btn {
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
  }

  #animateSecDiv img {
    height: 52vh;
  }

  .animateSecTextDiv {
    top: 34%;
    left: 18%;
    gap: 10px;
  }

  .text {
    font-size: 25px;
  }

  h2 span {
    font-size: 25px;
  }

  #description {
    font-size: 15px;
  }
}

@media(max-width:1024px) {
  .nav-btn {
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
  }

  #animateSecDiv img {
    height: 52vh;
  }

  .animateSecTextDiv {
    top: 34%;
    left: 18%;
    gap: 10px;
  }

  .text {
    font-size: 25px;
  }

  h2 span {
    font-size: 25px;
  }

  #description {
    font-size: 15px;
  }
}

@media(max-width:1009px) {
  .nav-btn {
    border-radius: 8px;
    padding: 5px;
    font-size: 11px;
  }
}

@media(max-width:947px) {
  .nav-btn {
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
  }
}

@media(max-width:687px) {
  .nav-btn {
    border-radius: 8px;
    padding: 5px;
    font-size: 9px;
  }
}

@media(max-width:599px) {
  .nav-btn {
    border-radius: 8px;
    padding: 3px;
    font-size: 8px;
  }
}

@media(max-width:912px) {
  #animateSecDiv img {
    height: 50vh;
  }

  .animateSecTextDiv {
    top: 34%;
    left: 14%;
  }

  /* .nav-btn {
    border-radius: 8px;
    padding: 6px;
    font-size: 10px;
  } */
}

@media(max-width:814px) {
  #animateSecDiv img {
    height: 43vh;
  }

  .animateSecTextDiv {
    top: 38%;
    left: 23%;
  }

  .nav-btn {
    width: 130px;
  }

  .text {
    font-size: 17px;
  }

  h2 span {
    font-size: 20px;
  }

  #description {
    font-size: 12px;
  }
}

@media(max-width:714px) {
  #animateSecDiv img {
    height: 40vh;
  }

  .animateSecTextDiv {
    top: 45%;
    left: 18%;
  }

  .nav-btn {
    width: 180px;
  }
}

/* Tablets Responsiveness End */

/* Mobile Responsiveness Start */
@media(max-width:585px) {
  .navbar-brand {
    font-size: 20px;
  }

  #animateSecDiv img {
    height: 40vh;
  }

  .animateSecTextDiv {
    top: 45%;
    left: 15%;
  }

  .text {
    font-size: 15px;
  }

  .nav-btn {
    width: 130px;
  }

  .ourServicesHeading {
    font-size: 35px;
  }
}

@media(max-width:465px) {
  #animateSecDiv img {
    height: 32vh;
  }

  .animateSecTextDiv {
    top: 42%;
    left: 15%;
    gap: 2px;
  }

  .text {
    font-size: 12px;
  }

  h2 span {
    font-size: 15px;
  }

  h2 span::before {
    content: "";
    height: 17px;
  }

  #description {
    font-size: 10px;
  }

  .nav-btn {
    border-radius: 8px;
    padding: 5px;
    font-size: 8px;
  }
}

@media(max-width:404px) {
  #animateSecDiv img {
    height: 29vh;
  }

  .animateSecTextDiv {
    top: 41%;
    left: 11%;
  }

  .nav-btn {
    width: 110px;
    font-size: 10px;
  }
}

@media(max-width:374px) {
  #animateSecDiv img {
    height: 29vh;
  }

  .animateSecTextDiv {
    top: 38%;
    left: 9%;
  }

  .nav-btn {
    width: 100px;
    font-size: 7px;
  }
}

@media(max-width:343px) {
  .animateSecTextDiv {
    top: 48%;
    left: 9%;
  }

  .text {
    font-size: 10px;
  }
}

/* Mobile Responsiveness End */


/* Responsive issue of navbar solve */
@media (max-width: 991px) {
  .animateSecTextDiv {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 80%;
  }

  .nav-Ul {
    display: block;
    text-align: center;
  }

  .nav-Ul .nav-item {
    margin-bottom: 10px;
  }
}

/* Responsive issue of navbar solve */

/* Hasnain Work Start here  */

/* our team cards styling  */

.first-row-of-members {
  justify-content: space-between;
}

.cardMain {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.cardMain:hover {
  .card-inner-2 {
    transition: 0.5s ease;
    background-color: #00a2ff;
  }

  .card-inner-1 img {
    transition: 0.5s ease;
    border: 7px solid black;

  }

  .card-inner-2 {
    transition: 0.5s ease;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    color: black;

  }

  .card-inner-2 h6 {
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    transition: 0.5s ease;
  }

  .card-inner-2 h5 {
    transition: 0.5s ease;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
  }

  .icon-bar-fontawesome {
    transition: 0.5s ease;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;

  }

  .icon-bar-fontawesome a {
    color: black !important;
    transition: 0.5s ease;

  }

}

.card-inner-1 {
  box-sizing: border-box !important;
  position: relative;
  height: 150px;
}

.card-inner-1 img {
  box-sizing: border-box !important;
  width: 120px;
  border: 7px solid #00a2ff;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 22px;
}


.card-inner-2 {
  width: 100%;
  height: 100%;
  /* background-color: rgb(49, 49, 49); */
  background-color: rgb(48, 48, 48);
  color: #00a2ff;
  border-left: 2px dashed #00a2ff;
  border-right: 2px dashed #00a2ff;
}

.card-inner-2 h5 {
  padding: 5px;
  font-size: smaller;
  text-align: center;
  font-weight: 800;
  margin-top: 85px !important;
  border-top: 2px dashed #00a2ff;

  border-bottom: 2px dashed #00a2ff;

}

.card-inner-2 h6 {
  padding: 5px;
  font-size: smaller;
  text-align: center;
  font-weight: 700;
  margin-top: 5px;
  border-top: 2px dashed #00a2ff;
  border-bottom: 2px dashed #00a2ff;
}

.icon-bar-fontawesome {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  border-top: 2px dashed #00a2ff;
  border-bottom: 2px dashed #00a2ff;
}

.icon-bar-fontawesome a {
  color: #00a2ff !important;

}

/* hasnain css work of our team cars is end here */